@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Open+Sans:400,700');

html, body {
  width: 100%;
  /*background-color: #f4f4f4;*/
  font-family: "Nunito", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.text-left {
  text-align: left;
  margin-left: 25px;
}

.text-center {
  text-align: center;
}

.spacer {
  padding-top: 10px;
}

img.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto
}

img.img-products {
  width: auto;
  height: 150px;
}

.card {
  width: 100%;
  height: 340px;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 20px;
  box-shadow: 0px 1px 2px rgba(99, 99, 99, 0.5);
  border-radius: 5px;
}

.btn-ghost {
  padding: 10px 30px;
  background: #FE980F;
  border: 0 none;
  border-radius: 0;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-bottom: 25px;
  transition: 0.2s ease-in;
}

.btn-ghost:hover {
  background: #895005;
  border: 0 none;
  border-radius: 0;
}

.btn-blueghost {
  color: #222;
  background: transparent;
  width: 150px;
  padding: 10px 20px;
  border: 2px #24189B solid;
  transition: 0.3s ease-in-out;
}

.btn-blueghost:hover {
  background: #24189B;
  color: #fff;
}

.divider {
  margin: 30px;
}

.product-description-text {
  margin-left: 10px;
  margin-right: 10px;
}

/* nav css */

nav {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}

.navbar-right {
  margin-right: 20px;
}

.navbar-brand {
	padding: 10px;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background-color: #24189B;
	vertical-align: middle;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.navbar-header {
  background-color: #24189B;
}
.navbar-default {
	background-color: rgba(0, 0, 0, 0.5);
}
.navbar-default .navbar-toggle {
	border: 0;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
	color: #fff;
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:active,
.navbar-default .navbar-nav>.active>a:focus {
	color: white;
	background-color: #24189B;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	color: #ebebeb;
}
.navbar-collapse {
  background-color: #24189B;
  border: none;
}

.dropdown-toggle:active, .open .dropdown-toggle {
  background:#002395 !important;
  color:#fff !important;
}
.navbar-default .navbar-nav>.open>a {
  box-shadow: none;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: white;
}

.page-scroll {
  display: flex;
  align-items: center;
}


.page-scroll span {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
}

.img-logo {
  margin-left: 10px;
  width: auto;
  height: 32px;
}

/* home section */

#home {
  width: 100%;
  background-color: lightblue;
}

#myCarousel {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
}

.carousel-control {
  background: none !important;
}

h3.home-title {
  font-size: 1.5em;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;

}

p.home-description {
  font-size: 1em;
  font-family: "Nunito", sans-serif;
  line-height: 28px;
}

/* featured items */

#featured {
  width: 100%;
  background-color: #EEF2F1;
  padding-top: 50px;
  padding-bottom: 50px;
}

#featured img {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: auto;
}

#contact-home {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

/*product jomooo css*/

.product-info {
  margin-bottom: 10px;
}

.product-info h3{
  font-size: 14px;
  font-weight: 400;
  color: #131745;
}

.product-title {
  text-align: center;
  position: relative;
  line-height: 24px;
  font-family: "Open Sans";
}

.product-description {
  font-family: "Nunito, sans-serif;"
}

.product-description-title {
  font-size: 1.5em;
}

.product-description-code {
  font-size: 1em;
  color: #a1a1a1;
}

.product-description-type {

}

/* activities */

#activities {
  margin-top: 20px;
  font-family: "Nunito", sans-serif;
}

.activity-title {
  letter-spacing: 2px;
  font-size: 2em;
  color: #324AB2;
  margin-bottom: 20px;
}

.activity-description {
  margin-top: 10px;
  line-height: 26px;
}

  /*************************
******* Contact CSS ********
**************************/

#contact {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 50px;
}

.contact-map {
  width: 100%;
  height: 385px;
  margin-bottom: 70px
}

.contact-info .heading,
.contact-form .heading {
  text-transform: capitalize;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

#contact
.form-control::-moz-placeholder {
  color: #8D8D8D;
}

#contact .form-control {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #696763;
  height: 46px;
  padding: 6px 12px;
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
  box-shadow:inherit;
}

#contact #message {
  height:160px;
  resize:none;
}

#main-contact-form .btn-primary {
  margin-bottom: 15px;
  margin-top: 20px;
}


#contact .form-control:focus,
#contact .form-control:hover {
  box-shadow: inherit;
  border-color: #24189B;
}

#contact .contact-info {
  padding: 0 20px;
}

#contact .contact-info p {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 25px;
}

address {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: #696763;
}

.contact-container {
  height: 300px;
  text-align: center;
  margin: 0px 10px 0px 10px;
}

.contact-container h2 {
  font-size: 1.3em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #3862C6;
}

.contact-container p {
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  line-height: 26px;
}

.social-networks{
  overflow: hidden;
  text-align: center;
}

.social-networks ul {
  margin-top: -5px;
  padding: 0;
  display: inline-block;
}

.social-networks ul li {
  float: left;
  text-decoration: none;
  list-style: none;
  margin-right: 20px;
}

.social-networks ul li:last-child{
  margin-right: 0;
}

.social-networks ul li a {
  color: #999;
  font-size: 25px;
}

.contact-info .social-networks ul li a i{
  background: none;
}

.contact-info .social-networks ul li a:hover{
  color: #27598B;
}
h2.title {
    color: #27598B;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 700;
    margin: 14px 15px;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}

footer {
  width: 100%;
  height: auto;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #4567A0;
}

footer p {
  color: #7e97c1;
}

.designed a {
  color: #fff;
  text-decoration: none;
  outline: none;
}

@media (min-width: 768px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #000;
  }
}
